# Backend
backend/.env
backend/.env.backup
backend/.env.production
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/pail
backend/.phpunit.cache/
backend/public/build/
backend/public/hot
backend/public/storage/
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
*.log

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
.idea/
.cursor/
.zed/
.nova/

# Misc
*.log
.phpactor.json
.phpunit.result.cache
_ide_helper.php
auth.json
